main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.displayCurrentBooksContainer {
  display: flex;
}

.imgTag {
  width: 15rem;
  height: auto;
  position: "absolute";
  top: 0;
  left: 0;
}
