@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Libre Baskerville, serif";
  margin: 0;
  padding: 0;
}

:root {
  --navbar_brown: rgba(73, 49, 30, 0.7);
  --background_beige: rgba(213, 199, 172, 1);
  --cards_transparent_white: rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--background_beige);
}
